{% extends 'home.html' %}

{% block content %}
        <div class="menu">
            <ul class="menubar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </div>
        
        <!-- reg content -->

        <div class="regcontent">
            <div class="regformdiv">
                <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{form.username}} <span class="error">{{form.username.errors|striptags}}</span> <br>
                    {{form.first_name}} <span class="error">{{form.first_name.errors|striptags}}</span> <br>
                    {{form.last_name}} <span class="error">{{form.last_name.errors|striptags}}</span> <br>
                    {{uform.enroll_no}} <span class="error">{{uform.enroll_no.errors|striptags}}</span> <br>
                    {{uform.roll_no}} <span class="error">{{uform.roll_no.errors|striptags}}</span> <br>
                    {{uform.mobile}} <span class="error">{{uform.mobile.errors|striptags}}</span> <br>
                    {{form.email}} <span class="error">{{form.email.errors|striptags}}</span> <br>
                    <span class="f_size25 white">Photo : </span> {{uform.photo}} <br>
                    {{form.password1}} <span class="error">{{form.password1.errors|striptags}}</span> <br>
                    {{form.password2}} <span class="error">{{form.password2.errors|striptags}}</span> <br>
                    <button class="regBTN" type="submit">Register for Admit Card</button>
                </form>
                <a href="{% url 'login' %}" class="white alogin">Alredy Registerd</a>
            </div>
        </div>
        
        {% endblock content %}

    </div>
</body>
</html>
